<div class="header-mobile">
  <div class="row header-mobile__wrapper row__justify-between">
    <div><a href="/" class="header-mobile__holder-logotype nuxt-link-active"><svg viewBox="0 0 41 56"
          class="icon header-mobile__logotype" style="width: 24px; height: 34px;">
          <use xlink:href="#logotype_41_56_fill__murmansk"></use>
        </svg></a></div>
    <div class="header-mobile__burger burger-mobile-button">
      <div class="burger-mobile-button__burger-line"></div>
    </div>
    <!---->
    <!---->
    <!---->
  </div>
</div>
<div style="width:960px; margin: auto">
  <router-outlet></router-outlet>
</div>